$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}

html, body {
height: 100%;
width: 100%;
padding: 0;
margin: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
padding-left: 0;
padding-right: 0;
}
/* Space out the masthead */
.header {
margin-bottom: 30px;
}
}

.container {
width: 100%;
height: 100%;
padding: 0px;
top:0;
position:absolute;
}

.angular-google-map,
.angular-google-map-container {
width: 100%;
height: 100%;
top: 0;
position: absolute;
}

.menu-container {
  height: 100%;  
}

.app-menu {
    height: 100%;
    width: 280px;
    background-color: rgba(236,240,241, 0.4);
    position: relative;
    z-index: 1000;
    left: 0px;
}

.app-menu.ng-hide-add,
.app-menu.ng-hide-remove {
  -webkit-transition: all 0.4s cubic-bezier(.02, .01, .47, 1);
  transition: all 0.4s cubic-bezier(.02, .01, .47, 1);

  display:block!important;
  opacity:1;
}

.app-menu.ng-hide {
    display:block!important;
    left: -280px;
}

.toggle-menu-button {
  font-size: 3em;
  z-index: 1000;
  color: #16A085;
  position: absolute;
  top: 10px;
  left: 10px;
}

.toggle-menu-button.ng-hide-add,
.toggle-menu-button.ng-hide-remove {
  -webkit-transition: all 0.36s cubic-bezier(.02, .01, .47, 1);
  transition: all 0.34s cubic-bezier(0, 0.1, .5, 1);
  transition-delay: 0.06s;

  display:block!important;
  opacity:1;
}

.toggle-menu-button.ng-hide {
    display:block!important;
    top: 10px;
    left: 230px;
}

.cursor-hand {
cursor: pointer;
cursor: hand;
}

.city-form {
  width: 100%;
  text-align: center;
}

.full-width {
  width: 100%;
  border: 1px solid white;
}

.title-text {
  letter-spacing:2px;
  color: #16A085;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left:70px;
  font-size: 3em;
  opacity: 1;
}

.title-text.ng-hide-add {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  display:block!important;
  opacity:1;
}

.title-text.ng-hide-remove {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  transition-delay: 0.2s;
  display:block!important;
}

.title-text.ng-hide {
    display:block!important;
    letter-spacing: -20px;
    opacity: 0;
}