<div class="menu-container" ng-init="isHidden=false">
  <div class="app-menu" ng-hide="isHidden">
  </div>
  <span class="fa fa-bars toggle-menu-button cursor-hand" ng-hide="!isHidden" ng-click="isHidden=!isHidden"></span>
  <span class="title-text" ng-hide="!isHidden">Shukatsu</span>
</div>

<google-map center="map.center" draggable="true" styles="map.styles" options="map.options" zoom="map.zoom">
  <markers models="map.markers" coords="'self'" click="alert($markedModel)"></markers>
</google-map>

